body {
	background-image: url(http://wallpapercave.com/wp/K9kRMtp.jpg);
	background-size: cover;
	background-attachment: fixed;
	
}


h1 {
	text-align: center;
	font-size: 40px;
	font-family: Cormorant Garamond, Baskerville Old Face, serif;
	color: #040102;
}


h2 {
	text-align: center;
	color: #040102;
	font-family: Cormorant Garamond, Baskerville Old Face, serif;
	font-size: 19px
}

h3 {
	text-align: center;
	color: #040102;
	font-family: Cormorant Garamond, Baskerville Old Face, serif;
	font-size: 19px
}


p {
	color: #040102;
	font-family: Cormorant Garamond, Baskerville Old Face, serif;
	font-size: 19px
}

a:link {
	color: #45798c;
	text-decoration: none
}

a:visited {
	color: #00093c;
	text-decoration: none
}

a:hover {
	text-decoration: underline;
}

a:active {
	background-color: #e0fda3;
}
