body {
	background-color: #00093c;
	
}


h1 {
	text-align: center;
	font-size: 40px;
	font-family: Baskerville Old Face;
	color: #e0fda3;
}


h2 {
	text-align: center;
	color: #e0fda3;
	font-family: Baskerville Old Face;
	font-size: 19px
}

h3 {
	text-align: center;
	color: #e0fda3;
	font-family: Baskerville Old Face;
	font-size: 19px
}


p {
	color: #e0fda3;
	font-family: Baskerville Old Face;
	font-size: 19px
}

a:link {
	color: #42bb8d;
	text-decoration: none
}

a:visited {
	color: #45798c;
	text-decoration: none
}

a:hover {
	text-decoration: underline;
}

a:active {
	background-color: #040102;
}
